/* FONTS */
.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }
.signika-regular {
    font-family: "Signika", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "GRAD" 0;
  }

/* COLORS */
$primary-color: #40e0d0; // turquise
$secondary-color: #008080; // teal
$background-color: #f0f8ff; // Alice Blue
$background-secondary-color: #e0ffff; // Light Cyan
$font-color: #333333; // Dark Gray

